.shop {
  background-image: url(../app/images/img/shop-bg.png);
  background-repeat: no-repeat;
  background-position: right center;
}

.shop__slider-info {
  padding-top: 166px;
  max-width: 480px;
  margin-right: 40px;
  .descr__head {
    width: 350px;
    margin-bottom: 47px;
  }
}

.shop {
  .slick-slide img {
    display: inline-block;
  }
  .slick-track {
    max-height: 798px;
  }
  .slider-arrows {
    opacity: 0.25;
  }
}
.title {
}
.shop__slider {
  padding-left: 132px;
}
.shop__slider-item {
}
.shop__slider-inner {
  display: flex;
}
.shop__slider-info {
}
.descr {
}
.headline-right {
}
.descr__head {
}
.shop__slider-price {
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 67px;
  sup {
    font-size: 18px;
    padding-left: 2px;
  }
}
.shop__slider-rate {
  margin-left: -8px;
  margin-bottom: -10px;
  img {
    margin-right: -15px;
    display: inline-block;
  }
}
.shop__slider-btn {
}
.btn {
}
.shop__slider-content {
  display: flex;
  align-items: flex-end;
  padding-left: 100px;
}
.surfboard {
  position: relative;
}
.surfboard-box {
  position: absolute;
}

.surfboard-box__position--1 {
  top: 205px;
  right: 36px;
}
.surfboard-box__position--2 {
  top: 290px;
  right: 213px;
}
.surfboard-box__position--3 {
  top: 608px;
  right: 155px;
  .surfboard-box__content {
    position: absolute;
    padding-left: 0;
    padding-right: 105px;
    left: -392px;
    top: -15px;
    &::before {
      content: "";
      width: 80px;
      height: 1px;
      background-color: #fff;
      opacity: 0.5;
      position: absolute;
      top: 50%;
      left: auto;
      right: 0;
    }
  }
}
.surfboard-box__circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  position: relative;
  cursor: pointer;
  &.active {
    .circle-row {
      transform: translate(-50%, -50%) rotate(0deg);
    }

    & + .surfboard-box__content {
      display: block;
    }
  }
}

.surfboard-box__content {
  position: absolute;
  width: 360px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 800;
  text-transform: uppercase;
  padding-left: 105px;
  top: -14px;
  left: 28px;
  display: none;
  &::before {
    content: "";
    width: 80px;
    height: 1px;
    background-color: #fff;
    opacity: 0.5;
    position: absolute;
    top: 50%;
    left: 0;
  }
}
.circle-row {
  background-color: $green;
  width: 12px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  & + .circle-row {
    transform: translate(-50%, -50%) rotate(90deg);
  }
}

.shop__extras {
  padding-left: 167px;
}
.shop__extras-title {
  font-size: 28px;
  line-height: 40px;
  font-weight: 800;
  margin-bottom: 25px;
}
.shop__extras-inner {
  display: flex;
  justify-content: space-between;
}
.shop__extras-box {
  text-align: center;
  margin-right: 57px;
}

.shop__extras-img {
  min-height: 105px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 35px;
}
.shop__extras-name {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 8px;
  opacity: 0.5;
  text-transform: uppercase;
}
.shop__extras-price {
  font-size: 18px;
  line-height: 40px;
  font-weight: 800;
}
