.sleep {
  background-image: url(../app/images/img/frangipani-xl.png);
  background-repeat: no-repeat;
  background-position: right bottom;
}

.sleep-slider {
  &__head {
    min-height: 780px;
    background-repeat: no-repeat;
    background-position: top left;
  }

  &__descr {
    margin-top: -290px;
    padding-top: 160px;
    padding-left: 132px;
    min-height: 320px;
    background-repeat: no-repeat;
    background-position: right center;

    img {
      // padding-left: 24px;
      margin-right: -15px;
    }

    img:first-child {
      // padding-left: 24px;
      padding-left: 25px;
    }
  }

  &__subtitle {
    text-align: right;
    padding-right: 80px;
    padding-top: 132px;
  }
  &__btn {
    text-align: center;
    margin-top: -22px;
  }
}

.sleep-slider__info {
  display: flex;
  justify-content: space-around;

  background-repeat: no-repeat;
  background-position: right -84px;
  padding-top: 228px;
  margin-top: -150px;
}

.sleep-slider__item-subtitle {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 8px;
  text-transform: uppercase;
  opacity: 0.5;
  transform: rotate(-90deg);
  position: absolute;
  width: 200px;
  height: 200px;
  top: 0;
  left: 0;
  text-align: right;
  margin-top: -5px;

  white-space: nowrap;
}

// .frng:after {
//   content: "";
//   position: absolute;
//   width: 300px;
//   height: 300px;
//   z-index: 10;
//   background-image: url(../app/images/img/frangipani-sm.png);
//   background-repeat: no-repeat;
//   background-position: 0 0;
// }

.sleep-slider__info {
  background-repeat: no-repeat;
  background-position: right top;
}

.sleep-slider__item-title {
  font-size: 40px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: 800;
  padding-left: 40px;
  // display: flex;
  // flex-direction: column;
  span {
    font-size: 14px;
    line-height: 1.5;
    opacity: 0.74;
    letter-spacing: 5.25px;
    align-self: end;
    padding-right: 5px;
  }
}

.sleep-slider__item-title {
  .prn {
    display: block;
    text-align: right;
  }
}

.usd {
  display: inline-block;
}
.sleep-slider__info-item {
  min-height: 200px;
  margin-bottom: 66px;
  position: relative;
}

.sleep__slider {
  .slider-arrows {
    top: 235px;
    opacity: 0.25;
  }
  .slick-list {
    .slick-track {
      min-height: 1200px;
    }
  }
}

.descr__head {
  display: flex;
}

.summ {
  display: block;
  span {
    font-size: 40px;
    line-height: 36px;
    letter-spacing: normal;
    opacity: 1;
  }
}

// sleep input

.quantity {
  display: inline-block;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.quantity input {
  width: 40px;
  // height: 42px;
  // line-height: 1.65;
  // float: left;
  // display: block;
  // padding: 0;
  // margin: 0;
  // padding-left: 20px;
  font-size: 40px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: 800;
  border: none;
  background: transparent;
  color: #fff;
}

.quantity input:focus {
  outline: 0;
}

.quantity-nav {
  float: left;
  position: static;
  height: 42px;
}

.quantity-button {
  position: relative;
  cursor: pointer;
  width: 20px;
  height: 20px;
  color: $green;
  display: flex;
  justify-content: center;
  align-items: center;
  // line-height: 1.7;

  user-select: none;
}

.quantity-button.quantity-up {
  position: absolute;
  top: 50px;
  right: 0;
  // border-bottom: 1px solid #eee;
}

.quantity-button.quantity-down {
  position: absolute;
  top: 50px;
  right: 25px;
}

.summ {
  display: inline-block;
}
