@media (max-width: 1440px) {
  .logo {
    img {
      width: 100px;
    }
  }

  .header__title {
    font-size: 130px;
    line-height: 108px;
    left: 60px;
    top: 20px;
  }

  .menu {
    padding-top: 10px;
  }

  .header__search {
    padding-bottom: 8px;
  }

  .header__date {
    font-size: 60px;
    span {
      font-size: 14px;
      padding-top: 0;
    }
  }

  .header__arrows {
    left: 130px;
  }

  .header {
    height: 100vh;
  }

  .slick-track {
    height: 100vh;
  }

  .header__aside {
    height: 100vh;
  }

  // surf section

  .surf-box {
    &.slick-slide {
      height: 650px;
    }
  }

  .surf-box__inner {
    min-height: 650px;
  }
}

@media (max-width: 1366px) {
  .header__aside {
    position: absolute;
    background: rgba($color: #fff, $alpha: 0.1);
    height: 108px;
    padding-right: 25px;
    border-right: none;
    display: flex;
    text-align: center;
    color: #fff;
  }
  .menu {
    padding-top: 0;
  }

  .menu__list {
    li {
      display: inline-block;
    }
    a {
      padding: 15px;
    }
  }
  .header__search {
    padding: 33px 15px 15px;
  }
  .header__date {
    padding: 15px;
  }
  .header__location {
    margin-top: 42px;
  }
  .slider-item__info-title {
    font-size: 65px;
  }
  .header__arrows {
    left: 20px;
    bottom: 20px;
  }
}

@media (max-width: 1340px) {
  .header__map {
    svg {
      width: 500px;
      height: 250px;
    }
  }
  .slider-arrows {
    top: 20px;
    right: 20px;
  }
  .slider-arrows__left {
    right: 60px;
  }
}

@media (max-width: 1250px) {
  .surf-map {
    max-width: 1000px;
    min-height: 515px;
  }

  .surf-map .slick-track {
    max-height: 515px;
    // transform: none !important;
  }
  .slider-dots--1 {
    top: 260px;
    left: 0;
    .slider-dots__content {
      transform: translateX(0%);
      &::before {
        content: "";
        left: 0;
      }
    }
  }
  .slider-dots--2 {
    top: 225px;
    left: 0;
    &::before {
      content: "";
      position: absolute;
      width: 14px;
      height: 16px;
      background-image: url(../app/images/icons/poi.svg);
      top: -17px;
      left: 28px;
    }
  }
  .slider-dots--3 {
    top: 267px;
    left: 25px;
  }
  .slider-dots--4 {
    top: 404px;
    left: -40px;
  }
  .slider-dots--5 {
    top: 165px;
    left: -35px;
  }
  .slider-dots--6 {
    top: 450px;
    left: -120px;
  }
  .slider-dots--7 {
    top: 310px;
    left: -85px;
  }
  .slider-dots--8 {
    top: 405px;
    left: 32px;
    .slider-dots__content {
      transform: translateX(-262px);
      &::before {
        content: "";
        left: auto;
        right: -3px;
      }
    }
  }
  .travel-slider__descr {
    padding-left: 20px;
  }

  .travel {
    padding-top: 70px;
  }
}

@media (min-width: 1103px) {
  .surf-map .slick-track {
    transform: none !important;
  }
}

@media (max-width: 1102px) {
  .surf-map {
    background-image: none;
    // min-width: 100%;
    min-height: 300px;
  }
  .slider-dots__circle {
    display: none;
  }
  .slider-dots__content {
    display: block;
    &::before {
      display: none;
    }
  }

  .surf-map {
    .slick-list {
      overflow: hidden;
    }

    .slick-list {
      min-height: 300px;
    }
    .slider-dots__content {
      transform: translateX(0);
    }
  }
  .slider-dots {
    position: static;
    padding-top: 300px;
  }

  .surf-map .slick-track {
    max-height: 300px;
  }
  .slider-dots__content {
    width: 283px;
    padding: 28px 31px 31px 32px;
  }

  .slick-current {
    .slider-dots__content {
      background-color: rgba($color: #ccc, $alpha: 0.3);
      // box-shadow: 0px 1px 0px $green;
    }
  }
}

@media (max-width: 1050px) {
  .travel-slider__info {
    display: block;
  }
  .travel-slider__item-subtitle {
    position: static;
    transform: rotate(0);
    height: auto;
    text-align: left;
  }
  .travel-slider__info-item {
    min-height: auto;
    margin-bottom: 20px;
    padding-left: 20px;
  }
  .travel-slider__item-title {
    padding-left: 0;
  }
  .travel-slider__descr {
    background-position: right -119px;
    background-size: contain;
  }
  .travel {
    .title {
      span {
        padding-bottom: 0;
      }
    }
  }
}

@media (max-width: 1040px) {
  .header__arrows {
    display: none;
  }
  .menu {
    position: absolute;
    background-color: #000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
    padding-top: 16px;
    transform: translateX(-100%);
    transition-duration: 1s;

    &.active {
      transform: translateX(0);
    }
  }
  .header {
    .menu-btn {
      display: flex;
    }
  }

  .header__search {
    padding: 40px 15px 15px;
  }
  .slider-item__info {
    position: absolute;
    right: 20px;
    bottom: 17px;
    text-align: right;
  }
  .slider-item__info-text {
    font-size: 30px;
    line-height: 20px;
    margin-bottom: 15px;
  }

  .headline-left {
    color: #fff;
    font-size: 16px;
    line-height: 18px;
    padding-left: 65px;
  }
  .headline-right {
    color: #fff;
    font-size: 16px;
    line-height: 18px;
    padding-right: 65px;
  }
  .slider-item__info-subtext {
    margin-bottom: 5px;
  }

  .headline-left::before {
    width: 50px;
    height: 1px;
  }
  .headline-right::before {
    width: 50px;
    height: 1px;
  }
  .slider-item__info-title {
    font-size: 55px;
    line-height: 55px;
    margin-bottom: 20px;
  }
  .slider-dotshead {
    right: 0;
    left: 10px;
    margin: 0 auto;
    bottom: 5px;
    max-width: 750px;
  }

  .dots-box {
    width: 125px;
  }
  .dots-box__number {
    font-size: 18px;
  }
  .dots-box__name {
    line-height: 18px;
  }

  .surf__subtitle {
    padding-right: 20px;
  }
}

@media (max-width: 900px) {
}

@media (max-width: 767px) {
}
@media (max-width: 750px) {
  .slider-dotshead.slick-slider {
    display: none;
  }
  .slider-dotshead {
    display: none;
  }
}

@media (max-width: 720px) {
  .title {
    span {
      font-size: 100px;
      padding-bottom: 80px;
      padding-left: 10px;
    }
  }
  .surf-slider {
    padding-top: 50px;
    .slider-arrows {
      top: 5px;
    }
  }
  .surf {
    padding: 70px 0 50px;
  }

  .travel-slider__head {
    min-height: 720px;
  }
  .travel-slider__subtitle {
    padding-top: 100px;
    padding-right: 20px;
  }
}
@media (max-width: 520px) {
  .headline-left {
    letter-spacing: 2.333px;
  }
  .subtitle__head {
    font-size: 32 px;
  }
  .travel-slider__descr {
    background-position: right -90px;
  }
}

@media (max-width: 640px) {
  .btn {
    font-size: 30px;
  }
}

@media (max-width: 460px) {
  .header__aside {
    display: block;
    padding-right: 0;
  }
  .header__search {
    padding: 15px 0 5px;
  }
  .header__date {
    padding: 0;
    font-size: 50px;
    line-height: 45px;
    span {
      font-size: 12px;
      margin-bottom: 10px;
    }
  }
  .header__location {
    margin-top: 0;
  }
  .header__aside {
    height: 100vh;
  }
  .header__title {
    display: none;
  }
  .travel {
    background-size: 120px;
    padding-bottom: 40px;
  }
  .travel-slider__descr {
    min-height: 255px;
    margin-top: -290px;
    margin-bottom: 30px;
    img {
      padding-left: 10px;
    }
  }
  .subtitle__head {
    font-size: 32px;
  }
  .descr__head {
    font-size: 32px;
  }
  .title span {
    font-size: 85px;
  }
  .travel-slider__descr {
    background-position: right -30px;
  }
  .surf-slider {
    .slick-list {
      max-height: 650px;
    }
  }
}

@media (max-width: 425px) {
  .surf-map .slick-current .slider-dots__content,
  .surf-map .slider-dots__content {
    display: block;
    width: 250px;
    padding: 28px 15px;
  }
}

@media (max-width: 374px) {
  .surf-map .slick-current .slider-dots__content,
  .surf-map .slider-dots__content {
    display: block;
    width: 200px;
    padding: 28px 15px;
  }
}
